<div class="mt-4">
  <div>
    <h3>Khóa học đã xóa</h3>
    <a href="/me/stored/courses">Danh sách khóa học</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian tạo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{ sum @index 1 }}</th>
        <td>{{ this.name }}</td>
        <td>{{ this.level }}</td>
        <td>{{ this.createdAt }}</td>
        <td>
          <div class="btn-group">

            <a href="" class="btn btn-primary active btn-restore" data-id="{{this._id}}" aria-current="page">Khôi phục</a>

            <a href="" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
              class="btn btn-primary">Xóa luôn</a>

          </div>
        </td>
      </tr>
      {{else}}
      <tr>
        <td class="text-center" colspan="5">Thùng rác trống.
          <a class="" href="/me/stored/courses">Danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Function Bạn có chắc chưa --}}


<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hỏi 🦐🦐🦐 lại cái</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nhưng mà xóa là mất thiệt luôn ớ !!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tao sẽ suy nghĩ lại</button>
        <button id="btn-delete-course" type="button" class="btn btn-primary">XÓA LÀ XÓA</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    var restoreForm = document.forms['restore-course-form'];


    var restoreBtn = $('.btn-restore'); // đây là cách dùng jquery để lấy ra các nút restore nè

    // When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    });

    // When delete course btn clicked
    btnDeleteCourse.addEventListener('click', function () {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    });

    restoreBtn.click(function (e) {
      e.preventDefault(); // bỏ hành vi mặc định của thẻ a 
      var courseId = $(this).data('id');
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    })
  });

</script>